# Ignore everything by default.
*

# Keep this ignore file.
!.gitignore

# Allow Git to look inside folders for files we do want.
!*/
!*/BuildPlanner

# Path of Exile filter files.
!*.filter
!*.build

# Sound files.
!*.aac
!*.aif
!*.aiff
!*.flac
!*.m4a
!*.mp3
!*.ogg
!*.opus
!*.wav
